name: test
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  go_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: go build
      - uses: golangci/golangci-lint-action@v8
      - run: go test -race -covermode atomic -coverprofile coverage.txt
      - uses: codecov/codecov-action@v5
  docker_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: docker/setup-buildx-action@v3
      - run: docker build -t muffet .
      - run: docker run muffet --verbose --buffer-size 8192 https://raviqqe.github.io/muffet
  spell_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: streetsidesoftware/cspell-action@v8
        with:
          files: "**/*.{md,go}"
  readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: raviqqe/markdown-link-check@main
  test:
    needs:
      - go_test
      - docker_test
      - spell_check
      - readme
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: for result in ${{ join(needs.*.result, ' ') }}; do [ $result = success ]; done
